.iks{
    cursor: pointer;
    display: none;
    float: right;
}
.edycja{
    margin: 10px;
    cursor: pointer;
}
.operacje{
    float: right;
    display: none;
    font-size: 1.7em;
}
.odliczanie:hover .operacje{
    display: block;
}
button{
    background-color: #282c34;
}
.odliczanie{
    margin-bottom: 30px;
}
.iks button{
    border: none;
    text-decoration: none;
}