.iks{
    cursor: pointer;
    display: none;
    float: right;
}
.edycja{
    margin: 10px;
    cursor: pointer;
}
.operacje{
    float: right;
    display: none;
    font-size: 1.7em;
}
.nazwa{
    position: relative;
}
.odliczanie:hover .operacje{
    display: inline;
}
button{
    background-color: #282c34;
}
.iks button{
    border: none;
    text-decoration: none;
}
.odliczanie p{
    display: block;
}
.odliczanie{
    padding: 5px 30px;
    border: 5px solid #0c3c9d;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 30px;
}
select{
    margin: 50px;
    padding: 10px;
}